/*background color*/
body{
    background-color: rgb(57, 57, 57);
}

/*login button*/
button.login{
    border: 2px solid rgb(255, 253, 253);
    border-radius: 5px;
    background-color: #00FFFF;;
    color: black;
    font-size: 24px;
    cursor: pointer;
    width: 170px;
    height: 35px;
    text-align: center;
    object-position: 50% 50%;
  }

/*centers the div --> button*/
.center{
background-color: white;
width: 170px;
padding:2px;
border:none;
margin: 15px;;
}

  